<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated radio -->
      <package
            uri="net.springfieldusa.ham.radio"
            class="net.springfieldusa.ham.radio.RadioPackage"
            genModel="models/radio.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated units -->
      <package
            uri="net.springfieldusa.ham.units"
            class="net.springfieldusa.ham.units.UnitsPackage"
            genModel="models/units.xcore"/>
   </extension>

</plugin>
